/*External css file for the website*/
/*selectors*/
/*Universal selector*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body selector*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
/*header selector*/
header{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
/*element selector*/
h1{
    font-size: 2.5em;
}
/*class selector*/
.demo{
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*id selector*/
.city{
    font-size: 1.5em;
    color: #555;
    margin: 20px 0;
}
/*box model properties*/
.one{
    width: 200px;
    height: 200px;
    background-color: #c61c10;
    margin: 20px;
    padding: 20px;
    border: 5px solid #680000;
}
.two{
    width: 200px;
    height: 200px;
    padding: 20px;
    color: white;
    margin:20px;
    border: 5px solid red;
    background-color:black;
}
.three{
    width: 500px;
    height: 10px;
    padding: 20px;
    color: yellow;
    text-align: center;
    margin:20px;
    border: 5px solid rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
}
.four{
    align-items: center;
    width: 480px;
    height: 120px;
    padding: 20px;
    color: white;
    text-align: center;
    margin:20px;
    background-color: gray;
    border: 5px solid rgb(0, 0, 0);
}
.first{
    display: inline;
    background-color: black;
    margin-left: 5%;
}
.second{
    display: inline;
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
}
.third{
    display: inline;
    background-color: black;
}